<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" id="mynewfooter">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">college companion</h6>
         <a href="/placement" class="" ><img src="https://img.icons8.com/plasticine/400/000000/student-male.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbspPlacement Experiences Page</a>
         <p>Helps in Placement Experince Sharing.<br>
           Folks can add the questions they faced, approach they used,
they can search experience by companies and the year of visit.
         </p>  
         
          <a href="/bunk" class="" ><img src="https://img.icons8.com/color/240/000000/attendance-mark.png " width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbspAttendance Manager Page</a>
          <p>Keeps a Track attendance and Bunk dates of different subjects with detailed graphical analysis.</p>  
 <a href="/newperfect" class="" ><img src="https://img.icons8.com/cute-clipart/512/000000/book.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbspNotes Making Page</a>
 <p>Folders can be created inside which specific notes can be stored.<br>
Designed as an online note taking site that is available across all your devices .<br>
Helps in sinking data across the devices.<br>
Can say an Indian version of Evernote .</p>  
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Features of college companion</h6>
        <p>
          <a href="#!">Wide range tools for text styling and editing</a>
        </p>
        <p>
          <a href="#!">User-friendly</a>
        </p>
        <p>
          <a href="#!">Simple editing and deleting tools</a>
        </p>
        <p>
          <a href="#!">Secure</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Available On</h6>
        <p>
          <a href="#!">Laptops</a>
        </p>
        <p>
          <a href="#!">PCs</a>
        </p>
        <p>
          <a href="#!">MACs</a>
        </p>
        <p>
          <a href="#!">Tabs</a>
        </p>
        <p>
          <a href="#!">Ipads</a>
        </p>
         <p>
          <a href="#!">Smart Phone(On development Stage)</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Bhubaneswar,India</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> babayaga9823@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91 7008552897</p>
        <p>
          <i class="fas fa-print mr-3"></i> +91 7683870719</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="https://github.com/babayaga9823">
            <strong> BabaYaga</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/khitish_panigrahi/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://twitter.com/lit__guy">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
             <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.instagram.com/khitish_panigrahi/">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1"  href="mailto:babayaga9823@gmail.com">
              
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
             <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.quora.com/profile/Khitish-Panigrahi">
              
                <i class="fab fa-quora"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.linkedin.com/in/babayaga9823">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://github.com/babayaga9823">
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->