        <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: rgb(235, 235, 235);" id="navi">
            <a class="navbar-brand" href="#">
                <img src="static/img/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                College Companion
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav active">
               
              <li class="nav-item active">
                  <a class="nav-link" href="/"><img src="https://img.icons8.com/fluent/96/000000/home.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">(current)</span></a>
                </li>
                 {{!-- <li class="nav-item active">
                  <a class="nav-link" href="/bunk"><img src="https://img.icons8.com/ios-filled/100/000000/attendance-mark.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">(current)</span></a>
                </li> --}}
                 <li class="nav-item active">
                  <a class="nav-link" href="/placement"><img src="https://img.icons8.com/plasticine/50/000000/client-company.png" width="30" height="30" class="d-inline-block align-top"alt=""> <span class="sr-only">Placement Experience</span></a>
                </li>
                
                 {{!-- <li class="nav-item active">
                  <a class="nav-link" href="/myled"><img src="https://img.icons8.com/dusk/64/000000/led-diode.png" width="30" height="30" class="d-inline-block align-top"alt=""><span class="sr-only">(current)</span></a>
                </li> --}}
                {{!-- <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li> --}}
               <li class="nav-item active">
                  <a class="nav-link" href="/login"><img src="https://img.icons8.com/color/240/000000/shutdown--v1.png" width="30" height="30" class="d-inline-block align-top"alt=""><span class="sr-only">(current)</span></a>
                </li>
                <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Navigate
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  
           
                                    <a class="dropdown-item" href="/newperfect"><img src="https://img.icons8.com/cute-clipart/512/000000/book.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbspGo To Notes Making Page</a>
                                      <a class="dropdown-item" href="/placement"><img src="https://img.icons8.com/plasticine/400/000000/student-male.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbspGo To Placement Experiences Page</a>
                                      <a class="dropdown-item" href="/bunk"><img src="https://img.icons8.com/color/240/000000/attendance-mark.png" width="30" height="30" class="d-inline-block align-top"alt="">&nbsp&nbspGo To Attendance Manager Page</a>
  
                                </div>
                                </div>
                </li>
                
              </ul>
            </div>
          </nav>